[submodule "libs/agg-kicad"]
	path = libs/agg-kicad
	url = https://github.com/adamgreig/agg-kicad.git
[submodule "libs/marbastlib"]
	path = libs/marbastlib
	url = https://github.com/ebastler/marbastlib.git
[submodule "libs/kbd"]
	path = libs/kbd
	url = https://github.com/foostan/kbd.git
